DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_DB_SCHEMA=capalti

APP_DB_NAME=
APP_DB_USER=
APP_DB_PASS=
APP_DB_HOST=localhost
APP_DB_PORT=5432

ERP_DB_NAME=
ERP_DB_USER=
ERP_DB_PASS=
ERP_DB_HOST=localhost
ERP_DB_PORT=5432
